:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --modal-duration: 0.8s;
  --red-highlight: #fe142f;
  --light: #fff;
  --dark-light: #232323;
  --dark: #000;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  color: var(--dark);
  text-decoration: none;
  outline: none;
}

ul {
  list-style: none;
}
/* Landing Page */

body {
  display: flex;
  flex-direction: column;
  gap: 60px;
  max-width: 1300px;
  padding: 40px;
  margin: 0 auto;
}

p {
  margin-bottom: 0;
  padding: 0.5vw;
}

img {
  padding-right: 1rem;
  width: auto;
  height: auto;
}

/* Navbar */
.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: var(--light);
}
.header-logo img {
  width: clamp(6.438rem, 20vw, 17.313rem);
}

.list {
  display: flex;
  gap: 10px;
  text-align: center;
  font-family: "DMSans-Medium", sans-serif;
}

.list_item a {
  padding: 12px;
  font-size: clamp(1.2rem, 1.6vw, 1.438rem);
}

.list_item a span {
  position: relative;
}

.list_item a span::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--light);
  transition: width 0.3s ease-in-out;
}

.list_item a:hover span::after {
  width: 100%;
}

.list_item a:hover,
.list_item a.active,
.list_item a:focus {
  background-color: var(--red-highlight);
  color: var(--light);
  border-radius: 15px;
}

#btn_hamb {
  display: none;
  color: var(--red-highlight);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.8rem;
}

main {
  font-size: 130%;
  font-weight: bolder;
  color: black;
  padding-top: 0.5vw;
  margin: 1px 20px 15px;
  border-radius: 2rem;
  text-align: justify;
}

.modal-btn {
  font-size: 145%;
  background: var(--red-highlight);
  display: flex;
  margin: auto;
  padding: 2em;
  color: var(--light);
  padding: 0.75rem 2.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.modal-btn:hover {
  background: #3876ac;
}

.footer {
  margin: 20px;
  padding: 10px;
  font-family: var(--font-default);
}

/* Modal form */

.button {
  background: var(--red-highlight);
  margin-top: 0.5em;
  padding: 1em;
  color: var(--light);
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background: #3876ac;
}

.smFont {
  font-size: 16px;
}

.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.content {
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: var(--dark-light);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: var(--light);
  padding-top: 10px;
}

.modal-body {
  padding: 15px 8%;
  margin: 15px auto;
}
.successText {
  text-align: center;
  font-size: 2.25rem;
  font-weight: normal;
  margin: 250px 0;
}
label {
  font-family: var(--font-default);
  font-size: 17px;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 11px;
}
input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}
.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 48px;
}
.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.6em;
  color: #e54858;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: left;
  line-height: 1;
  opacity: 0;
  transition: 0.3s;
}
.formData[data-error-visible="true"]::after {
  opacity: 1;
}
.formData[data-error-visible="true"] .text-control {
  border: 2px solid #e54858;
}
/* 
input[data-error]::after {
    content: attr(data-error);
    font-size: 0.4em;
    color: red;
} */
.checkbox-label,
.checkbox2-label {
  position: relative;
  margin-left: 36px;
  font-size: 12px;
  font-weight: normal;
}
.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: -30px;
  top: -1px;
  transition: 0.3s;
}
.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}
.checkbox-input {
  display: none;
}
.checkbox-input:checked + .checkbox-label .checkbox-icon::after,
.checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
  opacity: 1;
}
.checkbox-input:checked + .checkbox2-label .checkbox-icon {
  background: #279e7a;
}
.checkbox2-label .checkbox-icon {
  border-radius: 4px;
  border: 0;
  background: #c4c4c4;
}
.checkbox2-label .checkbox-icon::after {
  width: 7px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: var(--light);
  border-left-color: var(--light);
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}
.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: var(--light);
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.btn-submit,
.btn-signup {
  background: var(--red-highlight);
  display: block;
  margin: 0 auto;
  border-radius: 7px;
  font-size: 1rem;
  padding: 12px 82px;
  color: var(--light);
  cursor: pointer;
  border: 0;
}

/* custom select end */
.text-label {
  font-weight: normal;
  font-size: 16px;
}
.hero-section {
  border-radius: 10px;
  max-width: 1240px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  overflow: hidden;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
}
.hero-content {
  padding: 51px 67px;
  grid-column: span 4;
  background: var(--dark-light);
  color: var(--light);
  position: relative;
  text-align: left;
  min-width: 424px;
}
.hero-content::after {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--dark-light);
  position: absolute;
  right: -80px;
  top: 0;
}
.hero-content > * {
  position: relative;
  z-index: 1;
}
.hero-headline {
  font-family: var(--font-default);
  font-size: clamp(2.25rem, 6.5vw, 6rem);
  font-weight: normal;
  white-space: nowrap;
}
.hero-text {
  font-family: var(--font-default);
  font-size: clamp(0.813rem, 1.5vw, 1.5rem);
  width: 146%;
  font-weight: normal;
  margin: 73px 0;
  padding: 0;
}
.btn-signup {
  outline: none;
  text-transform: capitalize;
  font-size: 1.3rem;
  padding: 10px 23px;
  margin: 0;
  margin-top: 59px;
}
.hero-img {
  grid-column: span 8;
}
.hero-img img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
}
.hero-section > .btn-signup {
  display: none;
}
.copyrights {
  color: var(--red-highlight);
  padding: 0;
  font-size: 1rem;
  font-weight: bolder;
}

footer {
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 0 20px;
}
@media screen and (max-width: 980px) {
  #btn_hamb {
    display: block;
  }
  .list {
    flex-direction: column;
    z-index: 1;
    position: absolute;
    top: 50px;
    right: 0;
    text-align: left;
    padding: 10px;
    gap: 0;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--light);
    transition: all 0.1s ease-in-out;
  }
  .list_item a {
    display: inline-block;
    width: 100%;
  }
  .menu_toggle {
    visibility: visible;
    opacity: 1;
    z-index: 2;
  }
  .hero-content {
    min-width: unset;

    grid-column: span 5;
  }
  .hero-img {
    grid-column: span 7;
  }
  .hero-headline {
    margin-bottom: 45px;
  }
  .hero-text {
    width: 100%;
    margin-bottom: 80px;
  }
  .hero-content::after {
    right: 0px;
  }
  .hero-section > .btn-signup {
    display: none;
  }
  .hero-content .btn-signup {
    height: 45px;
  }

  body {
    gap: 0;
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    box-shadow: unset;
  }

  .hero-content {
    background: var(--light);
    color: var(--dark);
    padding: 0;
    gap: 20px;
    width: 100%;
    text-align: left;
  }

  .hero-content::after {
    content: unset;
  }

  .hero-content .btn-signup {
    display: none;
  }

  .hero-headline {
    margin-top: 28px;
    white-space: normal;
    text-align: left;
    font-weight: bolder;
  }

  .hero-text {
    margin-top: 17px;
    margin-bottom: 36px;
    width: unset;
    font-size: 20px;
  }

  .hero-img {
    align-items: center;
    border-radius: 10px;
    height: auto;
    width: 100%;
  }

  .hero-section > .btn-signup {
    display: block;
    margin: 30px auto 0;
  }
  .copyrights {
    text-align: center;
    padding: 29px;
  }
}
@media screen and (max-width: 540px) {
  body {
    padding: 20px;
  }

  img {
    width: 105px;
    height: 20px;
  }

  .hero-headline {
    text-align: left;
    margin-bottom: 17px;
  }
  .hero-text {
    margin-bottom: 20px;
    font-size: 1rem;
  }
}
@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
